// REMS
@function rem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

// colors
$c-black: #000;
$c-grey: #e5e5e5;
$c-greyDarker: #4a4b4b;
$c-white: #fff;

$c-title: $c-black;
$c-text: #666;

// Text
$primaryFont: 'Times New Roman', serif;
$headingFont: 'Open Sans', sans-serif;

$base-line-height: 1.2;
$base-font-size: 20px;
$vertical-rhythm: $base-line-height * $base-font-size;

// Grid
$gutter: rem(50px);
$grid-columns: 12;

$container-width: 1280px;
$container-width-narrow: 768px;

// Breakpoints
$bp--xxs: rem(479px);
$bp--xs: rem(480px);
$bp--sm: rem(768px);
$bp--md: rem(992px);
$bp--lg: rem(1200px);

//paths
$imgDir: '../../dist/img/';
$fontDir: '../../dist/fonts/';


// base64 images (icons)
