@font-face {
    font-family: 'icomoon';
    src:  url('#{$fontDir}icomoon.eot?nhlpqp');
    src:  url('#{$fontDir}icomoon.eot?nhlpqp#iefix') format('embedded-opentype'),
    url('#{$fontDir}icomoon.ttf?nhlpqp') format('truetype'),
    url('#{$fontDir}icomoon.woff?nhlpqp') format('woff'),
    url('#{$fontDir}icomoon.svg?nhlpqp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;


    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--fb:before {
    content: "\e900";
}
.icon--g:before {
    content: "\e901";
}

.icon--in:before {
    content: "\e906";
}
.icon--tw:before {
    content: "\e907";
}

