@mixin font-size($size) {
    font-size: $size;
    font-size: rem($size);
}

// text
@mixin text($size: $base-font-size, $line-height: $base-line-height, $family: $primaryFont) {
    @include font-size($size);
    line-height: $line-height;
    font-family: $family;
}

// responsive video
@mixin resp-video($ratioWidth: 16, $ratioHeight: 9) {
    position: relative;

    height: 0;
    padding: 0 0 percentage($ratioHeight/$ratioWidth) 0; //56.25%; /* 16:9 */
    //padding-top: 25px;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}

// responsive img
@mixin resp-img($maxWidth: null) {
    display: block;
    max-width: 100%;
    height: auto;
}

// Border clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Border sizing
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}

@mixin size($value) {
    width: rem($value);
    height: rem($value);
}

@mixin multiLineEllipsis($font-size, $line-height, $lines-to-show) {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 100%;
    max-height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;

    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
