html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @include text();
}

h1, h2, h3 {
    margin: 0;

    font: {
        family: $headingFont;
        weight: 700;
    }
    text-transform: uppercase;
}

h1 {
    @include font-size(72px);
    letter-spacing: 0.075em;

    @include tablet {
        @include font-size(72px);
    }
}

h2 {
    @include font-size(24px);
    letter-spacing: 0.05em;
}

p {
    margin: 0;

    color: $c-text;
    @include text();
}

a {
    color: $c-black;
    text-decoration: none;
}

.typography {
    h1  {}
    h2 {
        padding-top: rem(15px);
        margin-bottom: rem(30px);

        text-align: center;
    }

    p {
        margin-bottom: rem(30px);
    }

    .perex {
        margin-bottom: rem(50px);

        color: $c-black;
        @include font-size(24px);
    }

    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}