.u-img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}

.u-img-right,
.u-img-left {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(20px);
}
.u-img-right {
    @include mobile {
        float: right;
        margin-left: rem(20px);
    }
}

.u-img-left {
    @include mobile {
        float: left;
        margin-right: rem(20px);
    }
}