.u-cf {
    @include clearfix();
}

.u-floatLeft {
    float: left;
}

.u-floatRight {
    float: right;
}

.u-floatNone {
    float: none;
}

.u-clearLeft {
    clear: left;
}

.u-clearRight {
    clear: right;
}

.u-clearBoth {
    clear: both;
}

.u-centerBlock {
    margin-left: auto;
    margin-right: auto;
}

.u-verticalAlign {
    vertical-align: middle;
}