.footer {
    margin-top: rem(20px);
    padding: rem(40px) #{$gutter/2};

    color: $c-white;
    text-align: center;

    background: $c-grey;

    @include tablet {
        margin-top: rem(100px);
        padding: rem(80px) #{$gutter/2};
    }

    p {
        margin: 0;

        line-height: 1;
        text-transform: uppercase;
    }
}