.header {
    position: relative;
    z-index: 100;

    height: rem(60px);

    background: $c-white;
}

.logo {
    position: relative;
    top: rem(15px);

    display: inline-block;
    margin-left: #{$gutter/2};


    @include text(30px, 1, $headingFont);
    text-transform: uppercase;
}

.mainNav {
    margin-right: rem(10px);
}

.mainNav-item {
    float: left;
}

.mainNav-link {
    float: left;
    display: block;
    padding: rem(20px) rem(10px);

    @include text(20px, 1, $headingFont);
    font-weight: 700;
    text-transform: uppercase;

    transition: all .3s;

    .no-touchevents &:hover,
    &--active {
        color: $c-white;
        background-color: $c-black;
    }

}