.hero {
    position: relative;
    margin-bottom: rem(70px);

    text-align: center;

    background: url('#{$imgDir}hero/hero-1.jpg') center center;
    background-size: cover;

    @include tablet {
        margin-bottom: rem(100px);
    }
}

.hero-intro {
    display: table;
    width: 100%;
    height: rem(585px);
    min-height: 200px;
    max-height: calc(100vh - 200px);

    color: $c-white;
    text-align: center;

    @include tablet {
        height: 500px;
    }

    @include desktop {
        height: 600px;
    }
}

.hero-title {
    display: table-cell;
    padding: 0 #{$gutter/2};

    vertical-align: middle;

    @include font-size(40px);

    @include mobile {
        @include font-size(48px);
    }

    @include tablet {
        @include font-size(70px);
    }
}

.hero-avatar {
    position: absolute;
    left: 50%;
    bottom: 0;

    @include size(90px);

    transform: translateX(-50%) translateY(50%);

    @include tablet {
        @include size(120px);
    }

}