.socials {
    font-size: 0;
}
.socials-item {
    display: inline-block;
    margin: 0 rem(7px);
}

.socials-icon {
    display: block;
    @include size(32px);

    color: $c-greyDarker;
    font-size: rem(32px);

    transition: color .3s;

     &:hover {
        color: $c-black;
    }

}



