
.videoPod {
    margin-bottom: rem(30px);
}

.videoPod-link {
    @include resp-video();
}

.videoPod-video {
    width: 100%;
}

.videoPod-content {
    padding: rem(10px) 0;

    text-align: center;
}

.videoPod-title {
    @include text(28px, 1);
}
